@import "../../../assets/styles/variables";

header {
  display: flex;
  height: 50px;
  padding-left: 20px;
  background-color: $air-force-blue-800;
  color: $ash-grey-100;
}

.title {
  font-size: 1.6rem;
  align-self: center;
}
