// Color Palette
$ink-black-50: #e6f7fe;
$ink-black-100: #cef0fd;
$ink-black-200: #9ce1fc;
$ink-black-300: #6bd2fa;
$ink-black-400: #39c3f9;
$ink-black-500: #08b3f7;
$ink-black-600: #0690c6;
$ink-black-700: #056c94;
$ink-black-800: #034863;
$ink-black-900: #022431;
$ink-black-950: #011923;

$dark-teal-50: #eaf6fb;
$dark-teal-100: #d5edf6;
$dark-teal-200: #aadbee;
$dark-teal-300: #80c8e5;
$dark-teal-400: #56b6dc;
$dark-teal-500: #2ba4d4;
$dark-teal-600: #2383a9;
$dark-teal-700: #1a627f;
$dark-teal-800: #114255;
$dark-teal-900: #09212a;
$dark-teal-950: #06171e;

$air-force-blue-50: #eff4f5;
$air-force-blue-100: #dfe8ec;
$air-force-blue-200: #c0d2d8;
$air-force-blue-300: #a0bbc5;
$air-force-blue-400: #81a4b1;
$air-force-blue-500: #618e9e;
$air-force-blue-600: #4e717e;
$air-force-blue-700: #3a555f;
$air-force-blue-800: #27393f;
$air-force-blue-900: #131c20;
$air-force-blue-950: #0e1416;

$ash-grey-50: #f0f4f1;
$ash-grey-100: #e2e9e2;
$ash-grey-200: #c4d4c6;
$ash-grey-300: #a7bea9;
$ash-grey-400: #8aa88d;
$ash-grey-500: #6c9370;
$ash-grey-600: #57755a;
$ash-grey-700: #415843;
$ash-grey-800: #2b3b2d;
$ash-grey-900: #161d16;
$ash-grey-950: #0f1510;

$beige-50: #f5f9eb;
$beige-100: #ebf4d7;
$beige-200: #d6e8b0;
$beige-300: #c2dd88;
$beige-400: #aed161;
$beige-500: #99c639;
$beige-600: #7b9e2e;
$beige-700: #5c7722;
$beige-800: #3d4f17;
$beige-900: #1f280b;
$beige-950: #151c08;

// Status
$error-red: #c0392b;
